.header-section {
    background: linear-gradient(to right, #22568a, #06a871) !important;
    color: #e2e2e2;
}


.btn-register {
    background: linear-gradient(to right, #22568a, #06a871) !important;
    border: none;
    border-radius: 25px;
    padding: 5px 18px;
    color: #e2e2e2;
}

.btn-view {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 4px 18px;
    background-color: white;
}

.btn-view p {
    margin: 0;
    background-image: linear-gradient(to right, #22568a, #06a871);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
}



.logo {
    padding-right: 40px;
    padding: 15px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-text .text-one {
    color: #06a871;
}

.logo-text .text-two {
    color: #22568a;
}

.banner {
    margin-left: -11px !important;
    background-image: url('/images/banner2.png');
    width: 98%;
    height: 480px;
    background-size: cover;
    background-position: center;
    padding-left: 70px !important;
}

.button-primary {
    background-color: #06a871;
    border-radius: 25px;
    width: 25%;
    padding: 14px;
    color: white;
}

.banner-head {

    color: white;
    line-height: 0.7;
    margin-left: -20px !important;

}

.banner-head .public {
    font-size: 98px !important;
    font-weight: 700;

}

.banner-head .future {
    font-size: 90px !important;
}

.banner-head .theme-content {
    background-color: #06a871;
    width: 96%;
    border-radius: 0px 25px 25px 0px;
}

.banner-head .theme-content p {
    color: white;
    font-size: 33px;
    padding: 15px;
}

.banner-head .address .date {
    font-size: 30px;
}

.banner-head .address .date i {
    color: #06a871;
}

.banner-head .address .location {
    font-size: 30px;
}

.banner-head .address .location i {
    color: #06a871;
}

.button-section {
    width: 95% !important;
    margin-top: -15px;
}

.about-section {
    background-image: url('/images/about-back.png');
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-head {
    font-size: 40px;
    font-weight: 700 !important;
    background-image: linear-gradient(to right, #22568a, #06a871);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about-content p {
    font-size: 21px;
    color: #22568a;
}

.about-content p a {
    text-decoration: none;
    color: #06a871;
}

.about {
    position: relative;
}

.comm1 {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 60px;
}

.comm2 {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 60px;
}

.choose-content p {
    font-size: 23px;
}

.chooseus .content {
    background-color: #06a871;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.abstract {
    background-color: #def5ec;
}


.abstract .content {
    position: relative;
    margin-top: -20px;
}

.abstract .sqline {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
}

.abstract .card-info p {
    font-size: 24px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #22568a;

}

.abstract .submission .start {
    background: linear-gradient(to right, #22568a, #06a871);
    width: 55%;
    border-radius: 0px 30px 30px 0px;
}

.abstract .submission .end {
    background: linear-gradient(to right, #22568a, #06a871);
    width: 55%;
    border-radius: 0px 30px 30px 0px;
    margin-top: 80px;
}

.submission .button {
    color: #22568a;
    font-weight: 900;
    border-radius: 30px;
    background-color: white;
    float: right;
    font-size: 24px;
    margin-right: 100px;
    border: 2px solid #22568a;
    box-shadow: 2px 2px 2px 2px rgba(6, 168, 113, 0.6);
}

.submission .button p {
    margin-top: 10px;
}

.scientific {
    background-image: url('/images/back2.png');
    width: 100%;
    /* height: 400px; */
    background-size: cover;
    background-position: center;
}

.scientific .subhead p {
    font-size: 23px;
    width: 90%;
}

.register .subhead p {
    font-size: 23px;
    width: 90%;
}


.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    margin: 0 10px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 25px;
    color: #06a871;
    font-weight: 700;
}

.tab.active {
    border-bottom: 2px solid #06a871;
    color: #22568a;
}

.main-register-card {
    position: relative;
}

.back-img {
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: -1;
    overflow: hidden;
}

.back-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-register-card {
    position: relative;
    z-index: 1;
    /* Bring content above the background image */
}

.register-cards .re-card {
    width: 78%;
    position: relative;
}

.re-card-head {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(240, 13, 13);
}

.overlay-content {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay-person {
    position: absolute;
    top: 27%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-person h4 {
    font-size: 30px;
    font-weight: 700;
}

.overlay-info {
    position: absolute;
    top: 38%;
    left: 60%;
    width: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-info p {
    font-size: 12px;
    color: #06a871;
}

.overlay-list {
    position: absolute;
    top: 60%;
    list-style: none;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-align: left;
}

.overlay-list li {
    font-size: 12px;
    font-weight: bold;
}

.overlay-list li i {
    font-size: 12px;
    font-weight: bold;
    padding-right: 3px;
}

.overlay-button {
    position: absolute;
    bottom: -31px;
    left: 61%;
    width: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-button p {
    font-size: 18px;
    color: white;
    font-weight: 800;
}




.overlay-content2 {
    position: absolute;
    top: 14%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay-person2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-person2 h4 {
    font-size: 32px;
    font-weight: 700;
}

.overlay-info2 {
    position: absolute;
    top: 36%;
    left: 50%;
    width: 62%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-info2 p {
    font-size: 13px;
    color: #06a871;
}

.overlay-list2 {
    position: absolute;
    top: 60%;
    list-style: none;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-align: left;
}

.overlay-list2 li {
    font-size: 14px;
    font-weight: bold;
}

.overlay-list2 li i {
    font-size: 14px;
    font-weight: bold;
    padding-right: 3px;
}

.overlay-button2 {
    position: absolute;
    bottom: -31px;
    left: 50%;
    width: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-button2 p {
    font-size: 21px;
    color: white;
    font-weight: 800;
}

.overlay-content3 {
    position: absolute;
    top: 14%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay-person3 {
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-person3 h4 {
    font-size: 30px;
    font-weight: 700;
}

.overlay-info3 {
    position: absolute;
    top: 38%;
    left: 40%;
    width: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-info3 p {
    font-size: 12px;
    color: #06a871;
}

.overlay-list3 {
    position: absolute;
    top: 60%;
    list-style: none;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-align: left;
}

.overlay-list3 li {
    font-size: 12px;
    font-weight: bold;
}

.overlay-list3 li i {
    font-size: 12px;
    font-weight: bold;
    padding-right: 3px;
}

.overlay-button3 {
    position: absolute;
    bottom: -31px;
    left: 39%;
    width: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.overlay-button3 p {
    font-size: 18px;
    color: white;
    font-weight: 800;
}

.register-cards .re-card2 {
    width: 87%;
    position: relative;
}



.venue {
    border-bottom: 8px solid #06a871;
}

.venue .venue-content {
    position: relative;
}

.venue .venue-content .green-bar {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0px;
    right: 50%;

}

.venue .subhead p {
    font-size: 23px;
    width: 90%;
}

.right-content {
    background: linear-gradient(to left, #dbfdf0, #ffff);
}

.left-content {
    background: linear-gradient(to right, #e2e2e2, #ffff);
}

.venue .section1 {
    padding-top: 20px;
}

.venue .section1 h1 {
    color: #22568a;
    font-size: 33px;
    font-weight: 700;
}

.venue .section1 h2 {
    color: #22568a;
    font-size: 28px;
}

.venue .section1 p {
    font-size: 20px;
}

.venue .section2 {
    padding-top: 20px;
}

.venue .section2 h1 {
    color: #06a871;
    font-size: 35px;
    font-weight: 700;
}

.venue .section2 h2 {
    color: #06a871;
    font-size: 28px;
}

.venue .section2 p {
    font-size: 20px;
}

.conference {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.conference .subhead p {
    font-size: 23px;
    width: 90%;
}

.conference .content-head {
    width: 90%;
    border-top: 2px solid #22568a;
}

.conference .times {
    width: 20%;
    line-height: 2.2;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;

}

.conference .schedule {
    width: 75%;
    border-left: 2px solid #22568a;
}

.conference .schedule p {
    background-color: #b0e9d2;
    border-radius: 25px;
    padding: 10px;
    padding-left: 30px;
}




.subcard {
    margin-bottom: 10px;
    border-left: 4px solid #22568a;
}

.subcard p {
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(to right, #bfe8d8, #e2e2e2);
    border-radius: 25px;
    padding: 10px;
    color: #22568a;
    font-weight: 700;
    padding-left: 30px;
    padding: 16px 30px 16px 30px;
    margin: 0;
}

.subcard p:hover {
    background: linear-gradient(to right, #22568a, #06a871);
    color: white;
}

.subcard-content {
    border-left: 4px solid #06a871;
}

.subcard-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 0px 40px 40px 0px;
    margin-bottom: 10px;
}

.subcard-content .head {
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px;
    color: #22568a;
    font-weight: 700;
    margin: 0;
}

.subcard .card-content p {
    font-size: 16px;
    color: black;
}

.sponsors .subhead p {
    font-size: 20px;
    width: 90%;
}

.speakers .subhead p {
    font-size: 23px;
}

.card-section .card-info {
    position: relative;
}

.card-section {
    background: linear-gradient(to right, #22568a, #06a871);
}

.card-section .card-info .share1 {
    position: absolute;
    width: 37px;
    right: 16px;
    bottom: 8px;
}

.card-section .card-info .share2 {
    position: absolute;
    width: 37px;
    right: 20px;
    bottom: 10px;

}

.logo-slider {
    padding-left: 70px;
    padding-right: 70px;
}

.sponsors .slider-section {
    border-top: 2px dashed #06a871;
    border-bottom: 2px dashed #06a871;
}

.logo-slider .card-logo {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-slider .card-logo img {
    padding: 16px;
}


.footer {
    margin-left: -11px !important;
    background-image: url('/images/bg-grean.png');
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: center;
    padding-left: 70px !important;
}

.footer .logo-section {
    border-bottom: 5px solid #06a871;
    width: 220px;
    padding-bottom: 20px;
}

.footer .head {
    color: white;
}

.footer .head h1 {
    color: white;
    font-size: 25px;
}

.footer .head h2 {
    color: white;
    font-size: 25px;
    line-height: 0.7;
}

.footer .content {
    color: #e2e2e2;
    padding-top: 16px;
    font-size: 16px;
}

.footer .social img {
    width: 15%;
    padding: 10px;
}


.footer .links-head h2 {
    font-size: 20px;
    color: white;
    border-bottom: 5PX solid #06a871;
    padding-bottom: 20px;
}

.footer .links a {
    text-decoration: none;
    color: #e2e2e2;
    line-height: 2;
}


.footer .address-head h2 {
    font-size: 20px;
    color: white;
    border-bottom: 5PX solid #06a871;
    padding-bottom: 20px;
}

.footer .address {
    color: #e2e2e2;
}

.footer .address a {
    text-decoration: none;
    color: #e2e2e2;
}

.footer .heart-white img {
    width: 90%;
    opacity: 0.5;
}

.footer .copy {
    color: white;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.footer .copy p {
    font-size: 14px;
}